@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 300ms ease;
}

.redBg {
  @apply bg-[#8B2E2E];
}

.redtext {
  @apply text-[#8B2E2E];
}

.darkmodebg {
  @apply bg-[#0F172A];
}

.darkCard {
  @apply bg-[#ffffff10] border border-[#ffffff20] rounded-3xl;
}

.redCard {
  @apply bg-[#8B2E2E] border border-[#ffffff20] rounded-3xl;
}

.gradientCard {
  @apply bg-linear-to-r from-[#8B1E1E] to-[#250808] border border-[#ffffff94] rounded-3xl;
}

.fadeInput {
  @apply bg-[#00000052] border border-[#ffffff20];
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
